body {
  background-color: black;
}

li a {
  text-decoration: none;
  color: white;
}

li a.visited {
  text-decoration: none;
  color: white;
}

li a.hover {
  text-decoration: none;
}

.navUl {
  list-style-type: none;
  text-align: center;
}
.nav {
  display: inline;
  margin: auto 10px auto 10px;
  color: white;
  font-family: futura;
}

.title {
  position: relative;
  text-align: center;
  font-size: 3.5em;
  color: white ;
  z-index: 1;
  font-family: futura;
}

.tentImage {
  display: block;
  margin: -8em auto auto auto;
  width: 50em;
}

.campCoffeeImage {
  margin-top: 5em;
  margin-left: 2em;
  width: 15em
}

.about {
  display: inline;
  /*float: left;*/
  color: white;
  font-size: 1em;
}
