body {
  background-color: black;
}

li a {
  text-decoration: none;
  color: white;
}

li a.visited {
  text-decoration: none;
  color: white;
}

li a.hover {
  text-decoration: none;
}

.navUl {
  list-style-type: none;
  text-align: center;
}
.nav {
  display: inline;
  margin: auto 10px auto 10px;
  color: white;
  font-family: futura;
}

.title {
  position: relative;
  text-align: center;
  font-size: 3.5em;
  color: white ;
  z-index: 1;
  font-family: futura;
}

.tentImage {
  display: block;
  margin: -8em auto auto auto;
  width: 50em;
}

.campCoffeeImage {
  float: left;
  margin-left: 2em;
  margin-right: 0em;
  width: 200px;
}

.aboutSection {
}

.aboutH1 {
  color: white;
  font-size: 2em;
  font-family: futura;
}

.aboutP {
  color: white;
  font-size: 1em;
  font-family: futura;
}

.campfireFamilyImage {
  float: left;
  margin-left: 2em;
  margin-right: 0em;
  width: 200px;
}

.sustainabilityH1 {
  color: white;
  font-size: 2em;
  font-family: futura;
}

.sustainabilityP {
  color: white;
  font-size: 1em;
  font-family: futura;
}

.campfireImage {
  display:block;
  width: 200px;
  margin: 150px auto 10px auto;
}

.locListUl {
  list-style: none;
}
.locListLi {
  color: white;
  text-align: center;
}

.locListH3 {
  color: white;
  text-align: center;
  font-family: futura;
}

.slogan {
  color: white;
  text-align: center;
  font-style: italic;
}
